<%-include('./partials/r-header.ejs')%>

<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background-color: transparent; margin: 0;">
     <div class="container intro-text">
            <img src="<%=image_url('public/uploads/'+ currentUser.photo + '.jpg')%>" width="300px" height="300px" alt="profile picture" class="img-thumbnail rounded mx-auto d-block">
            <h1 class="font-weight-bold text-center intro-heading"><%=currentUser.firstname%> <%=currentUser.middlename[0]%>. <%=currentUser.lastname%></h1>
    </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Attendance Record</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Sample</td>
            </tr>
            <tr>
                <td>Sample</td>
            </tr>
            <tr>
                <td>Sample</td>
            </tr>
            </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Store</th>
                <th scope="col">Report</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Sample</td>
                <td>Sample</td>
                <td>Sample</td>
            </tr>
            <tr>
                <td>Sample</td>
                <td>Sample</td>
                <td>Sample</td>
            </tr>
            <tr>
                <td>Sample</td>
                <td>Sample</td>
                <td>Sample</td>
            </tr>
            <tr>
                <td>Sample</td>
                <td>Sample</td>
                <td>Sample</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>






<%-include('./partials/r-footer.ejs')%>